.container{
    display: flex;
    overflow-y: hidden;
}

.wrapper {
    flex: 5;
    height: 100%
}

.title {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    height: 40px
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0px
}

.search {
    border: solid 1px grey;
    outline: none;
    border-radius: 5px;
    height: 30px
}

.isBlocked {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.offline {
    font-size: 20px;
    color: red
}

.online {
    font-size: 20px;
    color: green
}

.action {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-top: 10px;
}

.deleteIcon {
    cursor: pointer;
    font-size: 20px;
    color: grey
}

.deleteIcon:hover {
    color: black
}

.blockIcon {
    cursor: pointer;
    font-size: 20px;
    color: rgb(227, 147, 133)
}

.blockIcon:hover {
    color: red
}

.unBlockIcon {
    cursor: pointer;
    font-size: 20px;
    color: rgb(133, 165, 85)
}

.unBlockIcon:hover {
    color: rgb(3, 121, 3)
}

.productIcon {
    cursor: pointer;
    font-size: 22px;
    color: rgb(140, 140, 186)
}

.productIcon:hover {
    color: blue
}

.orderIcon {
    cursor: pointer;
    font-size: 22px;
    color: rgb(126, 193, 158)
}

.orderIcon:hover {
    color: green
}

.payIcon {
    cursor: pointer;
    font-size: 20px;
    color: rgb(104, 159, 21)
}

.payIcon:hover {
    color: rgb(3, 40, 3)
}

.msg {
    display: flex;
    justify-content: center;
    align-items: center;
    color: green
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red
}

.datagrid {
    max-height: 80vh;
    overflow-y: scroll;
    margin: 0px 20px;
    margin-bottom: 25px;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #888; 
};