.container{
    display: flex;
    overflow-y: hidden;
}

.wrapper {
    flex: 5;
    height: 100%;
}

.title {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    height: 40px
}

.changeTaxe {
    cursor: pointer;
    color: green;
    margin-top: 5px;
}

.changeTaxe:hover {
    color:blue
}

.action {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-top: 10px;
}

.msg {
    display: flex;
    justify-content: center;
    align-items: center;
    color: green
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red
}

.datagrid {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 87vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.reactDataGrid{
    height: 100%
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #888; 
};
