.container{
    display: flex;
    overflow-y: hidden;
}

.wrapper {
    flex: 5;
    height: 100%
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0px
}

.search {
    border: solid 1px grey;
    outline: none;
    border-radius: 5px;
    height: 30px
}

.info {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    height: 40px
}

.id, .name{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 10px;
}

.label {
    font-weight: bold;
}

.action {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-top: 10px;
}

.deleteIcon {
    cursor: pointer;
    font-size: 20px;
    color: grey
}

.deleteIcon:hover {
    color: black
}

.visibilityIcon {
    cursor: pointer;
    font-size: 20px;
    color: rgb(96, 143, 151)
}

.visibilityIcon:hover {
    color: rgb(61, 47, 169)
}

.status {
    display: flex;
    align-items: center;
    gap: 15px
}

.deliveredIcon {
    color: green;
    font-size: 20px;
    font-weight: bold;
}

.declinedIcon {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.inProgressIcon {
    color: grey;
    font-size: 20px;
    font-weight: bold;
}

.noOrders {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backIcon {
    cursor:pointer;
    font-size: 25px;
    font-weight: bolder;
}

.datagrid {
    height: 70vh;
    margin: 0px 20px;
    margin-top: 30px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #888; 
};